.App {
  margin-top: 50px;
  font-size: 14px;
  font-family: Rockwell, “Courier Bold”, Courier, Georgia, Times, “Times New Roman”, serif;
}

textarea {
  width: 100%;
  height: 200px;
}

button {
  -webkit-style: none;
  border: 0;
  padding: 10px 15px;
  font-size: inherit;
  border-radius: 2px;
  cursor: pointer;
  background-color: lightblue;
  color: #333;
}

input[type="text"] {
  background: none;
  border: 2px solid;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  padding: 0 0 0 2px;
  display: inline;
  height: auto;
  -webkit-appearance: none;
  border-radius: 2px;
}

select {
  border: 2px solid;
}

select:focus, input:focus {
  outline: none;
}
