.App {
  margin-top: 50px;
}

.User {
  position: relative;
  background: lightblue;
  display: block;
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  min-width: 80px;
  min-height: 18px;
  text-align: center;
}

.Error {
  font-weight: bold;
  color: red;
}
