body {
  margin: 0;
  padding: 0;
}

a {
  margin-right: 5px;
  font-family: Rockwell, “Courier Bold”, Courier, Georgia, Times, “Times New Roman”, serif;
}

header a {
  display: inline-block;;
  background: lightgray;
  height: 20px;
  border-radius: 20px;
  padding: 10px;
  text-align: center;
  margin: 5px 0 20px 5px;
}

nav {
  background: #eee;
  padding: 5px;
}

nav a {
  font-size: 14px;
  padding: 3px;
  margin-right: 2px;
  border-right: 1px solid #ddd;
}
